<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Channel</th>
    <th scope="col">Watch Time [h]</th>
    <th scope="col">Stream Time [h]</th>
    <th scope="col">Peak Viewers</th>
    <th scope="col">Avg. Viewers</th>
    <th scope="col">Followers</th>
    <th scope="col">Partnered</th>
    <th scope="col">Mature</th>
    <th scope="col">Language</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let streamer of state.displayedStreamers; let index = index">
    <th scope="row">{{ index + 1 }}</th>
    <td>{{ streamer.channel }}</td>
    <td>{{ streamer.avgViewers }}</td>
    <td>{{ streamer.language }}</td>
    <td>{{ streamer.watchTime }}</td>
    <td>{{ streamer.streamTime }}</td>
    <td>{{ streamer.peakViewers }}</td>
    <td>{{ streamer.avgViewers }}</td>
    <td>{{ streamer.followers }}</td>
    <td>{{ streamer.partnered ? 'Yes' : 'No' }}</td>
    <td>{{ streamer.mature ? 'Yes' : 'No' }}</td>
    <td>{{ streamer.language }}</td>
  </tr>
  </tbody>
</table>

<button *ngIf="state.displayedStreamers?.length" (click)="onShowMore()">Show more</button>
